#userInput {
  margin-top: 100px;
}

#header {
  font-size: 100px;
}

body {
  font-family: 'Ubuntu Mono', monospace;
}

.gif {
  margin: 5px;
}

.searchButtons {
  margin: 7px 10px;
}

.gif {
  border: #000 solid 7px;
}

.gif:hover {
  cursor: pointer;
  border: #fff solid 7.5px;
}
